#slider, #slider-bar, #slider-handle {
    border: 0;
    padding: 0;
    margin: 0;
}

#slider {
    width: 300px;
    height:42px;
    background: url(img/bg.gif) no-repeat -300px;
    margin-left: 42px;
}

#slider-bar {
    width:300px;
    height:42px;
    background: url(img/track.png) no-repeat;
}

#slider-handle {
    width:42px;
    height:42px;
    cursor:ew-resize;
    background: url(img/gripper.png) no-repeat;
}

#debug {
    padding-top: 5px;
}

#percent {
    font-size: 75%;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    padding-top: 1.1em;
}